# Finding Similar Movies
we'll start by loading up the MovieLens dataset.using pandas we can very quickly load th rows of the rate.csv & movie.csv files that we care about and merge them toghether so we can work with movie names instead of ID's(in a real production job you'd stick with ID's and worry about names at the display layer to make things more efficient.but this lets us understand what's going on better for now.)

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
r_cols=['userId','movieId','rating']
ratings=pd.read_csv('F:\DATA SCIENCE\DATAZ\Recommender system\RATE.csv',names=r_cols,usecols=range(3))

m_cols=['movieId','title']
movies=pd.read_csv('F:\DATA SCIENCE\DATAZ\Recommender system\MOVIE.csv',names=m_cols,usecols=range(2))

ratings=pd.merge(movies,ratings,how='inner',on='movieId')

In [21]:
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

Now the amazing pivot_table function on a dataframe will construct a user/movie rating matrix.Note how NAN indicates missing data-movies that specific users didn't rate.

In [22]:
movieRatings=ratings.pivot_table(index=('userId'),columns=['title'],values='rating')
movieRatings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

let's extract a series of users who rated for toy story:

In [24]:
ToyStoryRatings=movieRatings['Toy Story (1995)'] 
ToyStoryRatings.head()

userId
1    4.0
2    NaN
3    NaN
4    NaN
5    4.0
Name: Toy Story (1995), dtype: float64

pandas' corrwith function makes it really easy to compute the pairwise correlation of toy story's vector of user rating with every other movie!after that,we'll drop any results that have no data,and construct a new Dataframe of movies and their correlation score(similarity)to toy story:

In [25]:
similarMovies=movieRatings.corrwith(ToyStoryRatings)
similarMovies=similarMovies.dropna()
df=pd.DataFrame(similarMovies)
df.head(10)

C:\Users\Talion\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2522: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\Talion\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2451: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                                           0
title
'burbs, The (1989)                                  0.240563
(500) Days of Summer (2009)                         0.353833
*batteries not included (1987)                     -0.427425
10 Cent Pistol (2015)                               1.000000
10 Cloverfield Lane (2016)                         -0.285732
10 Items or Less (2006)                            -1.000000
10 Things I Hate About You (1999)                   0.322741
10,000 BC (2008)                                   -0.251279
101 Dalmatians (1996)                               0.580479
101 Dalmatians (One Hundred and One Dalmatians)...  0.399643

let's sort the results by similarity score,and we shoulld have the movies most similar to toy story.except...we don't.these results make no sense at all this is why it's important to know your data.

clearly we missed somthing important

In [20]:
similarMovies.sort_values(ascending=False)

title
Land Before Time III: The Time of the Great Giving (1995)                    1.0
Orlando (1992)                                                               1.0
Goosebumps (2015)                                                            1.0
Encounters at the End of the World (2008)                                    1.0
Suburban Commando (1991)                                                     1.0
Bad Words (2013)                                                             1.0
Escaflowne: The Movie (Escaflowne) (2000)                                    1.0
Opera (1987)                                                                 1.0
Evening with Kevin Smith 2: Evening Harder, An (2006)                        1.0
Everybody Wants Some (2016)                                                  1.0
Cabaret (1972)                                                               1.0
Let It Ride (1989)                                                           1.0
Ewok Adventure, The (a.k.a. Caravan of Courage: An Ewok Adventure) (1984)    1.0
Waydowntown (2000)                                                           1.0
Quiet American, The (2002)                                                   1.0
Cedar Rapids (2011)                                                          1.0
Washington Square (1997)                                                     1.0
Quicksilver (1986)                                                           1.0
Extract (2009)                                                               1.0
Take Shelter (2011)                                                          1.0
Brigadoon (1954)                                                             1.0
Taking Woodstock (2009)                                                      1.0
War Zone, The (1999)                                                         1.0
Eye for an Eye (1996)                                                        1.0
Eye, The (Gin gwai) (Jian gui) (2002)                                        1.0
Outland (1981)                                                               1.0
Journey to the Center of the Earth (1959)                                    1.0
Moscow on the Hudson (1984)                                                  1.0
Educating Rita (1983)                                                        1.0
Eddie Murphy Delirious (1983)                                                1.0
                                                                            ...
Lust, Caution (Se, jie) (2007)                                              -1.0
Juliet of the Spirits (Giulietta degli spiriti) (1965)                      -1.0
Blue in the Face (1995)                                                     -1.0
Admission (2013)                                                            -1.0
Woman of Paris, A (1923)                                                    -1.0
That's My Boy (2012)                                                        -1.0
That Touch of Mink (1962)                                                   -1.0
Man Who Knew Too Much, The (1956)                                           -1.0
Down in the Valley (2005)                                                   -1.0
Garfield: A Tail of Two Kitties (2006)                                      -1.0
Max Keeble's Big Move (2001)                                                -1.0
Grudge Match (2013)                                                         -1.0
Topo, El (1970)                                                             -1.0
Goods: Live Hard, Sell Hard, The (2009)                                     -1.0
Going the Distance (2010)                                                   -1.0
Who's That Girl? (1987)                                                     -1.0
Our Brand Is Crisis (2015)                                                  -1.0
Max Payne (2008)                                                            -1.0
Cottage, The (2008)                                                         -1.0
TiMER (2009)                                                                -1.0
Man of the Year (2006)                                                      -1.0
Girl Who Kicked the Hornet's Nest, The (Luftslottet som sprängdes) (2009)   -1.0
It's Such a Beautiful Day (2012)                                            -1.0
Runner Runner (2013)                                                        -1.0
P.S. (2004)                                                                 -1.0
Roots (1977)                                                                -1.0
Thousand Words, A (2012)                                                    -1.0
Search Party (2014)                                                         -1.0
Mandela: Long Walk to Freedom (2013)                                        -1.0
Return from Witch Mountain (1978)                                           -1.0
Length: 4767, dtype: float64

our results are probably gettig messed up by movies that only have been viewd by a handful of people who also happened to like star wars.so we need to get rid of movies that were only watched by a few people that are producing spurious results.let's construct a new DataFrame that counts up how many ratings exist for each movie,and alsothe average rating while we're at it-could also come in handy later

In [21]:
movieStats=ratings.groupby('title').agg({'rating':[np.size,np.mean]})
movieStats.tail()

                                          rating
                                            size      mean
title
eXistenZ (1999)                             22.0  3.863636
xXx (2002)                                  24.0  2.770833
xXx: State of the Union (2005)               5.0  2.000000
¡Three Amigos! (1986)                       26.0  3.134615
À nous la liberté (Freedom for Us) (1931)    1.0  1.000000

let's get rid of movies rated by fewer than 100 people,and check the top-rated ones that are left:

In [24]:
popularMovies=movieStats['rating']['size']>=100
movieStats[popularMovies].sort_values([('rating','mean')],ascending=False)[:15] #a koja fahmid in ascending bara meane

                                                   rating
                                                     size      mean
title
Shawshank Redemption, The (1994)                    317.0  4.429022
Godfather, The (1972)                               192.0  4.289062
Fight Club (1999)                                   218.0  4.272936
Godfather: Part II, The (1974)                      129.0  4.259690
Departed, The (2006)                                107.0  4.252336
Goodfellas (1990)                                   126.0  4.250000
Casablanca (1942)                                   100.0  4.240000
Dark Knight, The (2008)                             149.0  4.238255
Usual Suspects, The (1995)                          204.0  4.237745
Princess Bride, The (1987)                          142.0  4.232394
Star Wars: Episode IV - A New Hope (1977)           251.0  4.231076
Schindler's List (1993)                             220.0  4.225000
Apocalypse Now (1979)                               107.0  4.219626
American History X (1998)                           129.0  4.217054
Star Wars: Episode V - The Empire Strikes Back ...  211.0  4.215640


100 might still be too low,but these results look pretty good as far as "well rated movies that people have heard of".let's join this Data with our original set of similar movies to TOY STORY:

In [71]:
 df=movieStats[popularMovies].join(pd.DataFrame(similarMovies,columns=['similarity']))

C:\Users\Talion\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\pandas\core\reshape\merge.py:551: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [72]:
df.head()

                                   (rating, size)  (rating, mean)  similarity
title
2001: A Space Odyssey (1968)                109.0        3.894495    0.014566
Ace Ventura: Pet Detective (1994)           161.0        3.040373    0.197135
Aladdin (1992)                              183.0        3.792350    0.611892
Alien (1979)                                146.0        3.969178    0.077476
Aliens (1986)                               126.0        3.964286    0.093700

And,sort these new results by similarity score.that's more like it!

In [73]:
df.sort_values(['similarity'],ascending=False)[:15]

,"(rating, size)","(rating, mean)",similarity
title,,,
Toy Story (1995),215.0,3.920930,1.000000
"Incredibles, The (2004)",125.0,3.836000,0.643301
Finding Nemo (2003),141.0,3.960993,0.618701
Aladdin (1992),183.0,3.792350,0.611892
"Monsters, Inc. (2001)",132.0,3.871212,0.490231
Mrs. Doubtfire (1993),144.0,3.388889,0.446261
"Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",120.0,4.183333,0.438237
American Pie (1999),103.0,3.378641,0.420117
Die Hard: With a Vengeance (1995),144.0,3.555556,0.410939
E.T. the Extra-Terrestrial (1982),122.0,3.766393,0.409216
Home Alone (1990),116.0,2.995690,0.408444
Babe (1995),128.0,3.652344,0.407493
Ghostbusters (a.k.a. Ghost Busters) (1984),120.0,3.775000,0.404487
Memento (2000),159.0,4.122642,0.378622
Pirates of the Caribbean: The Curse of the Black Pearl (2003),149.0,3.778523,0.370938

ideally we'd also filter out the movie we started from-of course star wars is 100% similar to itself.But otherwise these results aren't bad

# Activity

it was an arbitrary chosen cutoff.try diffrent values-what effect does it have on the end results